body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
div#pageContainer {
    max-width: 960px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    color: rgb(0, 132, 255);
}
div#post {
    background-color: rgb(0, 238, 255);
    padding: 20px;
    margin-bottom: 20px;
}
div#post img {
    width: 100%;
}
div#loggedUser {
    text-align: right;
    font-weight: 1.5rem;

}
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
  }
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li {
    display: inline-block;
    margin: 0 10px;
  }
  
a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}
  
a:hover {
    color: #0077ff;
  }
  